In [63]:
from sqlalchemy import create_engine

# Connect to MariaDB
engine_mariadb = create_engine('mysql+pymysql://foo@localhost/')

# Connect to PostgreSQL
engine_postgres = create_engine('postgresql://user:password@databases.mycompany.com:1234/dbname')

# Connect to DuckDB
# engine_duckdb = create_engine('duckdb:///:memory:')

In [64]:
import duckdb
import pandas as pd

# Assuming 'mpg.csv' and 'diamonds.csv' have been read into Pandas DataFrames
# Load the CSV files into Pandas DataFrames
mpg_df = pd.read_csv('data/mpg.csv')
diamonds_df = pd.read_csv('data/diamonds.csv')

# Connect to DuckDB, the file argument is optional and if not specified, an in-memory database is used
# con = duckdb.connect(database=':memory:', read_only=False)
con = duckdb.connect(database='duckdb_py', read_only=False)

con.register('mpg_df', mpg_df)
con.register('diamonds_df', diamonds_df)

# Write the DataFrames to DuckDB as tables
con.execute("CREATE TABLE IF NOT EXISTS mpg AS SELECT * FROM mpg_df")
con.execute("CREATE TABLE IF NOT EXISTS diamonds AS SELECT * FROM diamonds_df")

# List tables in DuckDB
tables = con.execute("SHOW TABLES").fetchall()
print(tables)

# Read the 'diamonds' table into a Pandas DataFrame
diamonds_table_df = con.execute("SELECT * FROM diamonds").df()

# Convert the DataFrame to a Tidyverse-like tibble, which is essentially the same as a Pandas DataFrame in Python
# Therefore, no conversion is necessary as we already have a DataFrame.

# Perform a SQL query and return the result as a Pandas DataFrame
sql_query = """
SELECT carat, cut, clarity, color, price
FROM diamonds
WHERE price > 15000
"""
query_result_df = con.execute(sql_query).df()

# In Python, the equivalent of tbl from dbplyr is simply querying the database using DuckDB and storing the result
# in a variable
diamonds_db = con.table("diamonds")

print(diamonds_db)

[('diamonds',), ('diamonds_df',), ('flights',), ('mpg',), ('mpg_df',), ('planes',)]
┌────────┬───────────┬─────────┬─────────┬────────┬────────┬───────┬────────┬────────┬────────┐
│ carat  │    cut    │  color  │ clarity │ depth  │ table  │ price │   x    │   y    │   z    │
│ double │  varchar  │ varchar │ varchar │ double │ double │ int64 │ double │ double │ double │
├────────┼───────────┼─────────┼─────────┼────────┼────────┼───────┼────────┼────────┼────────┤
│   0.23 │ Ideal     │ E       │ SI2     │   61.5 │   55.0 │   326 │   3.95 │   3.98 │   2.43 │
│   0.21 │ Premium   │ E       │ SI1     │   59.8 │   61.0 │   326 │   3.89 │   3.84 │   2.31 │
│   0.23 │ Good      │ E       │ VS1     │   56.9 │   65.0 │   327 │   4.05 │   4.07 │   2.31 │
│   0.29 │ Premium   │ I       │ VS2     │   62.4 │   58.0 │   334 │    4.2 │   4.23 │   2.63 │
│   0.31 │ Good      │ J       │ SI2     │   63.3 │   58.0 │   335 │   4.34 │   4.35 │   2.75 │
│   0.24 │ Very Good │ J       │ VVS2    │   62.8 │   57.0 │   336 │   3.94 │   3.96 │   2.48 │
│   0.24 │ Very Good │ I       │ VVS1    │   62.3 │   57.0 │   336 │   3.95 │   3.98 │   2.47 │
│   0.26 │ Very Good │ H       │ SI1     │   61.9 │   55.0 │   337 │   4.07 │   4.11 │   2.53 │
│   0.22 │ Fair      │ E       │ VS2     │   65.1 │   61.0 │   337 │   3.87 │   3.78 │   2.49 │
│   0.23 │ Very Good │ H       │ VS1     │   59.4 │   61.0 │   338 │    4.0 │   4.05 │   2.39 │
│     ·  │    ·      │ ·       │  ·      │     ·  │     ·  │    ·  │     ·  │     ·  │     ·  │
│     ·  │    ·      │ ·       │  ·      │     ·  │     ·  │    ·  │     ·  │     ·  │     ·  │
│     ·  │    ·      │ ·       │  ·      │     ·  │     ·  │    ·  │     ·  │     ·  │     ·  │
│    1.2 │ Premium   │ J       │ VS1     │   62.0 │   59.0 │  4704 │   6.77 │   6.72 │   4.18 │
│   1.12 │ Premium   │ H       │ SI2     │   61.9 │   58.0 │  4704 │   6.74 │   6.66 │   4.15 │
│    1.0 │ Premium   │ F       │ SI1     │   60.3 │   61.0 │  4704 │   6.43 │   6.38 │   3.86 │
│    1.0 │ Premium   │ E       │ SI2     │   61.7 │   58.0 │  4704 │   6.39 │   6.34 │   3.93 │
│    1.0 │ Very Good │ D       │ SI2     │   63.3 │   56.0 │  4704 │   6.38 │   6.35 │   4.03 │
│    1.0 │ Very Good │ E       │ SI2     │   63.5 │   56.0 │  4704 │   6.38 │   6.31 │   4.03 │
│    1.0 │ Premium   │ E       │ SI2     │   61.4 │   61.0 │  4704 │   6.41 │   6.36 │   3.92 │
│    1.0 │ Premium   │ E       │ SI2     │   61.1 │   58.0 │  4704 │   6.48 │   6.44 │   3.95 │
│    1.0 │ Premium   │ D       │ SI1     │   62.0 │   58.0 │  4704 │   6.41 │   6.29 │   3.94 │
│    1.0 │ Fair      │ D       │ SI1     │   64.9 │   59.0 │  4704 │    6.2 │   6.13 │    4.0 │
├────────┴───────────┴─────────┴─────────┴────────┴────────┴───────┴────────┴────────┴────────┤
│ ? rows (>9999 rows, 20 shown)                                                    10 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────┘

In [65]:
# Filter the 'diamonds' table for entries with price greater than 15000 and select specific columns
big_diamonds_df = con.execute("""
SELECT carat, cut, clarity, color, price
FROM diamonds
WHERE price > 15000
""").df()

# Display the filtered DataFrame
print(big_diamonds_df)

# because the query has been executed and fetched into a DataFrame already.
# However, you can print the SQL string used for fetching the DataFrame:
print("""
SELECT carat, cut, clarity, color, price
FROM diamonds
WHERE price > 15000
""")

# Since we've already executed the query and stored it in 'big_diamonds_df',
# the 'collect()' equivalent in R is unnecessary in Python. The result is already a DataFrame.
# However, if you want to ensure you have a separate DataFrame, you can just assign it to a new variable:
big_diamonds = big_diamonds_df.copy()

      carat        cut clarity color  price
0      1.54    Premium     VS2     E  15002
1      1.19      Ideal    VVS1     F  15005
2      2.10    Premium     SI1     I  15007
3      1.69      Ideal     SI1     D  15011
4      1.50  Very Good    VVS2     G  15013
...     ...        ...     ...   ...    ...
1650   2.00  Very Good     SI1     H  18803
1651   2.07      Ideal     SI2     G  18804
1652   1.51      Ideal      IF     G  18806
1653   2.00  Very Good     SI1     G  18818
1654   2.29    Premium     VS2     I  18823

[1655 rows x 5 columns]

SELECT carat, cut, clarity, color, price
FROM diamonds
WHERE price > 15000

In [66]:
import pandas as pd

# Load the CSV files into Pandas DataFrames
flights_df = pd.read_csv('data/flights.csv')
planes_df = pd.read_csv('data/planes.csv')

# Connect to DuckDB
# con = duckdb.connect(database=':memory:', read_only=False)

# Create tables in DuckDB from the DataFrames
con.register('flights_df', flights_df)
con.execute('CREATE TABLE IF NOT EXISTS flights AS SELECT * FROM flights_df')

con.register('planes_df', planes_df)
con.execute('CREATE TABLE IF NOT EXISTS planes AS SELECT * FROM planes_df')

# Display the SQL queries for 'flights' and 'planes' (equivalent to show_query())
print(con.execute("SELECT * FROM flights").query)
print(con.execute("SELECT * FROM planes").query)

# Filter, arrange and display the SQL query for 'flights' table
sql_query_flights_iah = """
SELECT *
FROM flights
WHERE dest = 'IAH'
ORDER BY dep_delay
"""
print(sql_query_flights_iah)

# Group by, summarize and display the SQL query for 'flights' table
sql_query_flights_grouped = """
SELECT dest, AVG(dep_delay) AS dep_delay
FROM flights
GROUP BY dest
"""
print(sql_query_flights_grouped)

# Select and display the SQL query for 'planes' table
sql_query_planes_select = """
SELECT tailnum, type, manufacturer, model, year
FROM planes
"""
print(sql_query_planes_select)

# Select, rename and display the SQL query for 'planes' table
sql_query_planes_rename = """
SELECT tailnum, type, manufacturer, model, year AS year_built
FROM planes
"""
print(sql_query_planes_rename)

# Select, relocate and display the SQL query for 'planes' table
sql_query_planes_relocate = """
SELECT tailnum, manufacturer, model, type, year
FROM planes
"""
print(sql_query_planes_relocate)

# Mutate and display the SQL query for 'flights' table
sql_query_flights_mutate = """
SELECT *, (distance / (air_time / 60)) AS speed
FROM flights
"""
print(sql_query_flights_mutate)

# Mutate, filter and display the SQL query for 'flights' table
sql_query_flights_mutate_filter = """
SELECT *, (year + 1) AS year1
FROM flights
WHERE (year + 1) = 2014
"""
print(sql_query_flights_mutate_filter)

# Left join 'flights' and 'planes' and display the SQL query
sql_query_flights_left_join_planes = """
SELECT flights.*, planes.year AS year_built
FROM flights
LEFT JOIN planes ON flights.tailnum = planes.tailnum
"""
print(sql_query_flights_left_join_planes)

<bound method PyCapsule.query of <duckdb.duckdb.DuckDBPyConnection object at 0x7fa951d405f0>>
<bound method PyCapsule.query of <duckdb.duckdb.DuckDBPyConnection object at 0x7fa951d405f0>>

SELECT *
FROM flights
WHERE dest = 'IAH'
ORDER BY dep_delay


SELECT dest, AVG(dep_delay) AS dep_delay
FROM flights
GROUP BY dest


SELECT tailnum, type, manufacturer, model, year
FROM planes


SELECT tailnum, type, manufacturer, model, year AS year_built
FROM planes


SELECT tailnum, manufacturer, model, type, year
FROM planes


SELECT *, (distance / (air_time / 60)) AS speed
FROM flights


SELECT *, (year + 1) AS year1
FROM flights
WHERE (year + 1) = 2014


SELECT flights.*, planes.year AS year_built
FROM flights
LEFT JOIN planes ON flights.tailnum = planes.tailnum

In [67]:
def summarize_query(con2, table_name, group_by_cols, summary_operations):
    group_by_str = ", ".join(group_by_cols)
    summary_ops_str = ", ".join([f"AVG({col}) FILTER (WHERE {col} IS NOT NULL) AS {alias}" if op == 'mean' else f"MEDIAN({col}) FILTER (WHERE {col} IS NOT NULL) AS {alias}"
                                 for alias, (op, col) in summary_operations.items()])
    
    sql_query_inner = f"""
    SELECT {group_by_str}, {summary_ops_str}
    FROM {table_name}
    GROUP BY {group_by_str}
    """
    print(sql_query_inner)
    return con2.execute(sql_query_inner).df()

# Summarize flights by year, month, day. 
summarize_query(
    con, 'flights', ['year', 'month', 'day'],
    {
        'mean': ('mean', 'arr_delay'),
        'median': ('median', 'arr_delay')
    }
)

def mutate_query(con2, table_name, mutate_operations):
    mutate_ops_str = ", ".join([
        f"{expr} AS {alias}"
        if 'OVER' not in expr else f"{expr}"
        for alias, expr in mutate_operations.items()
    ])
    
    sql_query_inner = f"""
    SELECT *, {mutate_ops_str}
    FROM {table_name}
    """
    print(sql_query_inner)
    return con2.execute(sql_query_inner).df()

# Now let's use the function with the operations:

# Mutate flights by year, month, day with mean
mutate_query(
    con, 'flights',
    {
        'mean': 'AVG(arr_delay) OVER (PARTITION BY year, month, day)'
    }
)

# Mutate flights by dest with lead and lag
mutate_query(
    con, 'flights',
    {
        'lead': 'LEAD(arr_delay) OVER (PARTITION BY dest ORDER BY time_hour)',
        'lag': 'LAG(arr_delay) OVER (PARTITION BY dest ORDER BY time_hour)'
    }
)

# Mutate flights with conditional description
mutate_query(
    con, 'flights',
    {
        'description': "CASE WHEN arr_delay > 0 THEN 'delayed' ELSE 'on-time' END"
    }
)

# Mutate flights with case_when equivalent
mutate_query(
    con, 'flights',
    {
        'description': """
        CASE 
            WHEN arr_delay < -5 THEN 'early'
            WHEN arr_delay >= -5 AND arr_delay < 5 THEN 'on-time'
            WHEN arr_delay >= 5 THEN 'late'
        END
        """
    }
)

# Mutate flights with cut equivalent
mutate_query(
    con, 'flights',
    {
        'description': """
        CASE 
            WHEN arr_delay < -5 THEN 'early'
            WHEN arr_delay >= -5 AND arr_delay < 5 THEN 'on-time'
            WHEN arr_delay >= 5 THEN 'late'
        END
        """
    }
)

    SELECT year, month, day, AVG(arr_delay) FILTER (WHERE arr_delay IS NOT NULL) AS mean, MEDIAN(arr_delay) FILTER (WHERE arr_delay IS NOT NULL) AS median
    FROM flights
    GROUP BY year, month, day


    SELECT *, AVG(arr_delay) OVER (PARTITION BY year, month, day)
    FROM flights


    SELECT *, LEAD(arr_delay) OVER (PARTITION BY dest ORDER BY time_hour), LAG(arr_delay) OVER (PARTITION BY dest ORDER BY time_hour)
    FROM flights


    SELECT *, CASE WHEN arr_delay > 0 THEN 'delayed' ELSE 'on-time' END AS description
    FROM flights


    SELECT *,
        CASE
            WHEN arr_delay < -5 THEN 'early'
            WHEN arr_delay >= -5 AND arr_delay < 5 THEN 'on-time'
            WHEN arr_delay >= 5 THEN 'late'
        END
         AS description
    FROM flights


    SELECT *,
        CASE
            WHEN arr_delay < -5 THEN 'early'
            WHEN arr_delay >= -5 AND arr_delay < 5 THEN 'on-time'
            WHEN arr_delay >= 5 THEN 'late'
        END
         AS description
    FROM flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,description
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,late
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,late
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00,late
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00,early
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,early
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,None,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00,None
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,None,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00,None
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00,None
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00,None
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00,None

In [68]:
# Mutate flights with case_when equivalent
mutate_query(
    con, 'flights',
    {
        'description': """
        CASE 
            WHEN arr_delay < -5 THEN 'early'
            WHEN arr_delay BETWEEN -5 AND 5 THEN 'on-time'
            WHEN arr_delay > 5 THEN 'late'
        END
        """
    }
)

# Mutate flights with cut equivalent
mutate_query(
    con, 'flights',
    {
        'description': """
        CASE 
            WHEN arr_delay < -5 THEN 'early'
            WHEN arr_delay BETWEEN -5 AND 5 THEN 'on-time'
            WHEN arr_delay > 5 THEN 'late'
        END
        """
    }
)

    SELECT *,
        CASE
            WHEN arr_delay < -5 THEN 'early'
            WHEN arr_delay BETWEEN -5 AND 5 THEN 'on-time'
            WHEN arr_delay > 5 THEN 'late'
        END
         AS description
    FROM flights


    SELECT *,
        CASE
            WHEN arr_delay < -5 THEN 'early'
            WHEN arr_delay BETWEEN -5 AND 5 THEN 'on-time'
            WHEN arr_delay > 5 THEN 'late'
        END
         AS description
    FROM flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,description
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,late
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,late
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00,late
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00,early
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,early
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,None,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00,None
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,None,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00,None
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00,None
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00,None
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00,None

In [69]:
con.close()